* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightseagreen;
}

#container {
    height: 45%;
    width: 35%;
    padding: 10px;
    margin-bottom: 30px;
}

#age-in {
    background-color: black;
    border-radius: 10px;
    height: 6rem;
    width: 100%;
    padding: 15px;
    margin-bottom: 50px;
}

#date {
    height: 60px;
    border-radius: 10px;
    width: 60%;
    padding: 0px 20px;
    border: 2px black solid;
    margin-right: 20px;
    font-size: larger;
    font-weight: 800;
}

#button {
    height: 60px;
    border-radius: 10px;
    margin-left: 10px;
    width: 30%;
    border: 2px black solid;
    background-color: white;
    font-size: larger;
}

.age-out {
    background-color: black;
    border-radius: 10px;
    height: 6rem;
    width: 6rem;
    text-align: center;
    color: white;
    padding-top: 5px;
}

#output-div {
    display: flex;
    justify-content: space-between;
}

.line {
    font-size: xxx-large;
}

.age-out>p {
    color: rgba(128, 128, 128, 0.968);
}
